doctype html
html
	head
		meta(charset='UTF-8')
		title My Site
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/') Home
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/blog') Bulletin
		.container
			block body
