extends ../layout

block body
	if post
		h2= post.title
		p= post.body
		form(action='/delete', method='post')
			.form-group
				input.btn.btn-danger.btn-lg(type='submit', value='Delete', name=post.slug)
	else
		h2 Not Found
		p That blog post does not exist.
	
